 <ul class='nav nav-tabs'>
    <li><a [routerLink]="['/createTournament']"> Create Tournament</a></li>
    <li><a [routerLink]="['/listTournaments']">List Tournaments</a></li>
  </ul>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th>TeamSize</th>
          <th>TeamCount</th>
          <th>Username</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let tournament of tournaments'>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.startDate }}</td>
            <td>{{ tournament.endDate }}</td>
            <td>{{ tournament.teamSize }}</td>
            <td>{{ tournament.teamCount }}</td>
            <td>{{ tournament.username }}</td>
            <td><a [routerLink]="['/listTournaments]" (click)="delete(tournament);">delete</a></td>
           <!-- <td><input type="button" (click)="delete({{tournament.name}})" value="Delete"/></td>-->
        </tr>
      </tbody>
    </table>
  </div>
