  <ul class='nav nav-tabs'>
    <li><a [routerLink]="['/administrator']">Home</a></li>
    <li><a [routerLink]="['/createTournament']">Create Tournament</a></li>
    <li><a [routerLink]="['/listTournaments']">List Tournaments</a></li>
    <li><a [routerLink]="['/listCurrentSportAverages']">Sport Averages</a></li>
    <li><a [routerLink]="['/singleStat']">Statistic Viewer</a></li>
    <li><a [routerLink]="['/athlete-selection']">Player Carousel</a></li>
  </ul>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th>TeamSize</th>
          <th>TeamCount</th>
          <th>Username</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let tournament of tournaments'>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.startDate }}</td>
            <td>{{ tournament.endDate }}</td>
            <td>{{ tournament.teamSize }}</td>
            <td>{{ tournament.teamCount }}</td>
            <td>{{ tournament.username }}</td>
            <td><a [routerLink]="['/listTournaments']" (click)="delete(tournament);">delete</a></td>
            <td><a [routerLink]="['/listTournaments']" (click)="addOne(tournament);">enlarge</a></td>
            <td><a [routerLink]="['/listTournaments']" (click)="join(tournament);">join</a></td>
        </tr>
      </tbody>
    </table>
  </div>
