  <ul class='nav nav-tabs'>
    <li><a [routerLink]="['/administrator']">Home</a></li>
    <li><a [routerLink]="['/createTournament']">Create Tournament</a></li>
    <li><a [routerLink]="['/listTournaments']">List Tournaments</a></li>
    <li><a [routerLink]="['/listCurrentSportAverages']">Sport Averages</a></li>
    <li><a [routerLink]="['/singleStat']">Statistic Viewer</a></li>
    <li><a [routerLink]="['/athlete-selection']">Player Carousel</a></li>
  </ul>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>My Tournaments</th>
          <th>Wins</th>
          <th>Team Names</th>
        </tr>
      </thead>
    </table>
  </div>