  <ul class='nav nav-tabs'>
    <li><a [routerLink]="['/administrator']">Home</a></li>
    <li><a [routerLink]="['/createTournament']">Create Tournament</a></li>
    <li><a [routerLink]="['/listTournaments']">List Tournaments</a></li>
    <li><a [routerLink]="['/listCurrentSportAverages']">Sport Averages</a></li>
    <li><a [routerLink]="['/singleStat']">Statistic Viewer</a></li>
    <li><a [routerLink]="['/athlete-selection']">Player Carousel</a></li>
  </ul>

<p>

  <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
    
                          <slide *ngFor="let slidez of slides; let index=index"
                                 [active]="slidez.active">
                                 
                              <img [src]="slidez.image" style="margin:auto;">
                            <div class="carousel-caption">
                              <h3 style="background-color: transparent;color: white;">Slide {{index + 1}}</h3>
                              <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
                            </div>
                                   
                            
                          </slide>
                          
                        </carousel>
                        <app-line-chart-demo-component></app-line-chart-demo-component>
                                     
                                    

</p>
