<p>
  Put top text here

  <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
    
                          <slide *ngFor="let slidez of slides; let index=index"
                                 [active]="slidez.active">
                                 <table>
                                   <td>
                              <img [src]="slidez.image">
                            <div class="carousel-caption">
                              <h3 style="background-color: transparent;color: white;">Slide {{index + 1}}</h3>
                              <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
                            </div>
                                   </td>
                                   <td>
                                     YYY
                                     </td>
                            </table>
                          </slide>
                          
                        </carousel>
                        
                                     <app-line-chart-demo-component></app-line-chart-demo-component>
                                    

</p>
