  <ul class='nav nav-tabs'>
    <li><a [routerLink]="['/administrator']">Home</a></li>
    <li><a [routerLink]="['/createTournament']">Create Tournament</a></li>
    <li><a [routerLink]="['/listTournaments']">List Tournaments</a></li>
    <li><a [routerLink]="['/listCurrentSportAverages']">Sport Averages</a></li>
    <li><a [routerLink]="['/singleStat']">Statistic Viewer</a></li>
    <li><a [routerLink]="['/athlete-selection']">Player Carousel</a></li>
  </ul>

 <div class="form-group">
    <label for="sel1">Statistic Numerator:</label>

    <select class="form-control" [(ngModel)]="sel1">
      <option *ngFor='let stat of availableStatistics'>{{stat.sportName}}--{{ stat.statName }}</option>
    </select>
    
    <label for="sel2">Statistic Denominator:</label>

    <select class="form-control" [(ngModel)]="sel2">
      <option *ngFor='let stat of availableStatistics'>{{stat.sportName}}--{{ stat.statName }}</option>
    </select>
  </div>
  <button (click)="analyzeStat()" class="btn">OK</button>

 <p>Analysis: {{answer}}</p>